*{
	text-align: center;
	margin: auto;
	padding: 0;

}

.container{
	width: 430px;
	height: 600px;
	border-radius: 13px;
	padding-top: 20px;

}

.header{
	padding-top: 10px;
}

.inputer{
	width: 220px;
	height: 40px;

	font-size: 24px;
}

.plusbtn{
	margin-left: 10px;
	font-size: 24px;

	width: 42px;
	height: 42px;
	border-radius: 5px;
}


.List{
	list-style: none;
	padding-top: 10px;
	font-size: 20px;
	text-align: center;
}